@model List<CartItem>


@if (Model != null && Model.Count > 0)
{

    <h1>My Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Dish</h4>
            </th>
            <th>
                <h4>Price</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.DishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="CheckOut" asp-action="Payment" class="btn btn-default">Check out</a>
</div>
}