@model List<CartItem>

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Dish</h4>
            </th>
            <th>
                <h4>Price</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.DishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Price)
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.CartItemId">Edit</a> <a>|</a>

                        <a asp-action="Delete" asp-route-id="@item.CartItemId" >Delete</a> <a>|</a>
               </td>
            </tr>
        }
    </tbody>
</table>